stages:
  - build
  - test
  - package
  - release

build-job:
  stage: build
  image: ubuntu:24.04
  tags:
    - cmake
  before_script:
    - apt-get update
    - apt-get install -y software-properties-common curl jq unzip
    - apt-add-repository ppa:mutlaqja/ppa
    - apt-get install -y build-essential cmake git npm qtbase5-dev libqt5websockets5-dev libindi-dev libstellarsolver-dev libnova-dev libgsl-dev wcslib-dev libcfitsio-dev libavahi-client-dev libavahi-common-dev zlib1g-dev dpkg-dev debhelper devscripts libopencv-dev qtmultimedia5-dev libqt5scxml5-dev libqt5qml5
    - echo "Downloading ostserver from OST project artifacts..."
    - export OST_PROJECT_ID=$(curl --silent "https://gitlab.ostserver.fr/api/v4/projects?search=OST&job_token=${CI_JOB_TOKEN}" | jq -r '.[] | select(.name=="OST") | .id')
    - echo "OST Project ID:" $OST_PROJECT_ID
    - echo "Fetching jobs from project..."
    - curl --silent "https://gitlab.ostserver.fr/api/v4/projects/${OST_PROJECT_ID}/jobs?status=success&per_page=5&job_token=${CI_JOB_TOKEN}" | jq '.'
    - export PACKAGE_JOB=$(curl --silent "https://gitlab.ostserver.fr/api/v4/projects/${OST_PROJECT_ID}/jobs?status=success&per_page=100&job_token=${CI_JOB_TOKEN}" | jq -r '.[] | select(.name=="package-deb") | .id' | head -1)
    - echo 'Package job ID:' $PACKAGE_JOB
    - curl --location "https://gitlab.ostserver.fr/api/v4/projects/${OST_PROJECT_ID}/jobs/${PACKAGE_JOB}/artifacts?job_token=${CI_JOB_TOKEN}" -o artifacts.zip
    - unzip -l artifacts.zip
    - unzip artifacts.zip -d /tmp/
    - apt-get install -y /tmp/packages/ostserver_*_amd64.deb
  script:
    - mkdir build install
    - cd build
    - cmake ..
    - make -j4
    - cmake --install . --prefix=../install
    - cd ..
  artifacts:
    paths:
      - install/
    expire_in: 1 hour

test-job:
  stage: test
  image: ubuntu:24.04
  tags:
    - cmake
  dependencies:
    - build-job
  before_script:
    - apt-get update
    - apt-get install -y software-properties-common curl jq unzip
    - apt-add-repository ppa:mutlaqja/ppa
    - apt-get install -y npm qtbase5-dev libqt5websockets5-dev libindi-dev libstellarsolver-dev libnova-dev libgsl-dev wcslib-dev libcfitsio-dev libavahi-client-dev libavahi-common-dev zlib1g-dev dpkg-dev debhelper devscripts libopencv-dev qtmultimedia5-dev libqt5scxml5-dev libqt5qml5
    - npm install ws
    - echo "Downloading ostserver from OST project artifacts..."
    - export OST_PROJECT_ID=$(curl --silent "https://gitlab.ostserver.fr/api/v4/projects?search=OST&job_token=${CI_JOB_TOKEN}" | jq -r '.[] | select(.name=="OST") | .id')
    - echo "OST Project ID:" $OST_PROJECT_ID
    - echo "Fetching jobs from project..."
    - curl --silent "https://gitlab.ostserver.fr/api/v4/projects/${OST_PROJECT_ID}/jobs?status=success&per_page=5&job_token=${CI_JOB_TOKEN}" | jq '.'
    - export PACKAGE_JOB=$(curl --silent "https://gitlab.ostserver.fr/api/v4/projects/${OST_PROJECT_ID}/jobs?status=success&per_page=100&job_token=${CI_JOB_TOKEN}" | jq -r '.[] | select(.name=="package-deb") | .id' | head -1)
    - echo 'Package job ID:' $PACKAGE_JOB
    - curl --location "https://gitlab.ostserver.fr/api/v4/projects/${OST_PROJECT_ID}/jobs/${PACKAGE_JOB}/artifacts?job_token=${CI_JOB_TOKEN}" -o artifacts.zip
    - unzip -l artifacts.zip
    - unzip artifacts.zip -d /tmp/
    - apt-get install -y /tmp/packages/ostserver_*_amd64.deb
  script:
    - mkdir media
    - export QT_QPA_PLATFORM=offscreen
    - export PATH="./install/usr/bin:$PATH"
    - export LD_LIBRARY_PATH="./install/usr/lib:$LD_LIBRARY_PATH"
    - ostserver --webroot=media --libpath=./install/usr/lib > server.log 2>&1 &
    - SERVER_PID=$!
    - sleep 30
    - ps aux | grep ostserver | grep -v grep
    - echo "Testing server with modules..."
    - node test-ws.js 2>&1 | tee ws.log
    - echo "Server logs:"
    - tail -50 server.log
    - kill $SERVER_PID || true
  artifacts:
    paths:
      - server.log
      - ws.log
    expire_in: 1 week
  only:
    - master
    - tags

package-deb:
  stage: package
  image: ubuntu:24.04
  tags:
    - cmake
  dependencies:
    - build-job
  before_script:
    - apt-get update
    - apt-get install -y dpkg-dev debhelper devscripts lintian
  script:
    - export PACKAGE_NAME="ostmodules"
    - export PACKAGE_VERSION=$([ -n "$CI_COMMIT_TAG" ] && echo "$CI_COMMIT_TAG" || echo "1.0.0-${CI_COMMIT_SHORT_SHA}")
    - export PACKAGE_ARCH="amd64"
    - export DEB_NAME="${PACKAGE_NAME}_${PACKAGE_VERSION}_${PACKAGE_ARCH}"
    - mkdir -p "${DEB_NAME}/DEBIAN" "${DEB_NAME}/usr" "${DEB_NAME}/usr/share/doc/${PACKAGE_NAME}"
    - cp -r install/* "${DEB_NAME}/usr/"
    - echo "Package:${PACKAGE_NAME}" > "${DEB_NAME}/DEBIAN/control"
    - echo "Version:${PACKAGE_VERSION}" >> "${DEB_NAME}/DEBIAN/control"
    - echo "Section:misc" >> "${DEB_NAME}/DEBIAN/control"
    - echo "Priority:optional" >> "${DEB_NAME}/DEBIAN/control"
    - echo "Architecture:${PACKAGE_ARCH}" >> "${DEB_NAME}/DEBIAN/control"
    - echo "Maintainer:Gilles <gilles@ostserver.fr>" >> "${DEB_NAME}/DEBIAN/control"
    - echo "Depends:ostserver, libqt5core5a, libqt5gui5, libindi1, libstellarsolver, libnova-0.16-0, libgsl27, wcslib7, libcfitsio10, libavahi-client3, zlib1g, libopencv-core4.5d, libqt5multimedia5, libqt5scxml5" >> "${DEB_NAME}/DEBIAN/control"
    - echo "Description:OST Modules - Collection of modules for OST Server" >> "${DEB_NAME}/DEBIAN/control"
    - echo "#!/bin/bash" > "${DEB_NAME}/DEBIAN/postinst"
    - echo "set -e" >> "${DEB_NAME}/DEBIAN/postinst"
    - echo "exit 0" >> "${DEB_NAME}/DEBIAN/postinst"
    - chmod 755 "${DEB_NAME}/DEBIAN/postinst"
    - mkdir -p packages
    - dpkg-deb --build "${DEB_NAME}" packages/
    - lintian packages/"${DEB_NAME}.deb" || true
  artifacts:
    paths:
      - packages/*.deb
    expire_in: 1 week
  only:
    - master
    - tags

release-assets:
  stage: release
  image: curlimages/curl:latest
  tags:
    - cmake
  dependencies:
    - package-deb
  script:
    - export PACKAGE_VERSION="${CI_COMMIT_TAG}"
    - export PROJECT_ID="${CI_PROJECT_ID}"
    - export PACKAGE_NAME="ostmodules_${PACKAGE_VERSION}_amd64.deb"
    - curl --header "JOB-TOKEN:${CI_JOB_TOKEN}" --upload-file "packages/${PACKAGE_NAME}" "${CI_API_V4_URL}/projects/${PROJECT_ID}/packages/generic/ostmodules/${PACKAGE_VERSION}/${PACKAGE_NAME}"
  only:
    - tags
